@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 27, 20, 46;
  --primary-sahdow: 191, 168, 255;
  --main: 89, 39, 229;
  --accent: 80, 251, 200;
  --neutral: 217, 217, 217;
  --text: 255, 255, 255;
  --text-opposite: 0, 0, 0;
  --text-opposite: 0, 0, 0;
  --red: 220, 20, 60;
  --black: 0, 0, 0;
  --customBlue: 0, 123, 255;
  --sideSpacing: 32px;
  --menuHeight: 64px;
}

* {
  @apply transition-colors duration-200;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--main)) transparent;
}
html::-webkit-scrollbar {
  width: 4px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: rgb(var(--accent));
  border-radius: 2px;
}

.customScrollbarStyle {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.custom-select-left-radius .react-select__control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

body {
  max-width: 100vw;
  min-height: 100svh;
  background: rgb(var(--primary));
  overflow-x: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
